/* ============================================
     MAXWIDTH AND BREADCRUMBS
============================================ */
.c-maxWidth {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}
.c-breadcrumb {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.c-breadcrumb-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-breadcrumb-separator {
  font-size: var(--fs-base);
  color: var(--text-lightBlue);
}

.c-breadcrumb-link {
  color: var(--text-white);
  font-size: var(--fs-sm);
}

.c-breadcrumb-link:hover {
  color: var(--base-lightBlue);
  transition: all 0.3s ease-in-out;
}

/* 予約ページ用パンくずリストスタイル */
.p-breadcrumb {
  top: 140%;
  width: 90%;
}

/* ============================================
     END OF MAXWIDTH AND BREADCRUMBS
============================================ */
