/* ===========================================
   🎨 COLOR UTILITIES
   =========================================== */
.u-bg-gray {
  background-color: var(--base-gray);
}
.u-bg-white {
  background-color: var(--base-white);
}
.u-bg-lightBlue {
  background-color: var(--base-lightBlue);
}
.u-bg-red {
  background-color: var(--base-red);
}
.u-bg-peach {
  background-color: var(--base-peach);
}
.u-bg-brown {
  background-color: var(--base-brown);
}

.u-text-black1 {
  color: var(--text-black1);
}
.u-text-white {
  color: var(--text-white);
}
.u-text-lightBlue {
  color: var(--text-lightBlue);
}
.u-text-red {
  color: var(--text-red);
}
.u-text-peach {
  color: var(--text-peach);
}
.u-text-brown {
  color: var(--text-brown);
}
.u-text-lightPink {
  color: var(--text-lightPink);
}
