/* ===========================================
   FONT SIZE (rem based)
   =========================================== */
.u-fs-12 {
  font-size: 0.75rem;
}
.u-fs-14 {
  font-size: 0.875rem;
}
.u-fs-15 {
  font-size: 0.9375rem;
}
.u-fs-18 {
  font-size: 1.125rem;
}
.u-fs-20 {
  font-size: 1.25rem;
}
.u-fs-24 {
  font-size: 1.5rem;
}
.u-fs-25 {
  font-size: 1.5625rem;
}
.u-fs-30 {
  font-size: 1.875rem;
}
.u-fs-36 {
  font-size: 2.25rem;
}
.u-fs-39 {
  font-size: 2.4375rem;
}
.u-fs-46 {
  font-size: 2.875rem;
}
.u-fs-48 {
  font-size: 3rem;
}
.u-fs-60 {
  font-size: 3.75rem;
}
.u-fs-70 {
  font-size: 4.375rem;
}

/* ===========================================
   FONT WEIGHT
   =========================================== */
.u-fw-400 {
  font-weight: 400;
}
.u-fw-600 {
  font-weight: 600;
}
.u-fw-700 {
  font-weight: 700;
}
.u-fw-800 {
  font-weight: 800;
}

/* ===========================================
   LINE HEIGHT (in em, using .05em step)
   =========================================== */
.u-lh-100 {
  line-height: 1;
}
.u-lh-150 {
  line-height: 1.5;
}
.u-lh-160 {
  line-height: 1.6;
}
.u-lh-180 {
  line-height: 1.8;
}
.u-lh-200 {
  line-height: 2;
}
.u-lh-210 {
  line-height: 2.1;
}
/* ===========================================
   LETTER SPACING (in em, using .05em step)
   =========================================== */
