/* ===========================================
   🔁 PADDING Y (shorthand)
   =========================================== */
.u-py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ===========================================
   ⬆️ MARGIN TOP
   =========================================== */
.u-mt-5 {
  margin-top: 5px;
}
.u-mt-10 {
  margin-top: 10px;
}
.u-mt-18 {
  margin-top: 18px;
}
.u-mt-20 {
  margin-top: 20px;
}
.u-mt-25 {
  margin-top: 25px;
}
.u-mt-30 {
  margin-top: 30px;
}
.u-mt-40 {
  margin-top: 40px;
}
.u-mt-50 {
  margin-top: 50px;
}
.u-mt-60 {
  margin-top: 60px;
}

/* ===========================================
   ⬇️ MARGIN BOTTOM
   =========================================== */
.u-mb-10 {
  margin-bottom: 10px;
}

/* ===========================================
   ⬅️➡️ MARGIN LEFT / RIGHT
   =========================================== */
.u-ml-4 {
  margin-left: 4px;
}
.u-ml-20 {
  margin-left: 20px;
}
.u-ml-40 {
  margin-left: 40px;
}
.u-ml-auto {
  margin-left: auto;
}

.u-mr-5 {
  margin-right: 5px;
}
.u-mr-10 {
  margin-right: 10px;
}
.u-mr-auto {
  margin-right: auto;
}

/* ===========================================
   🔁 MARGIN X / Y (shorthand)
   =========================================== */
.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
