/* ===========================================
   ✍️ FONT UTILITIES
   =========================================== */
.u-font-outfit {
  font-family: var(--font-outfit);
}
.u-font-zen {
  font-family: var(--font-zen);
}

.u-cursor-pointer {
  cursor: pointer;
}
.u-text-link {
  color: var(--text-lightBlue);
  text-decoration: underline;
  text-underline-offset: 5px;
}
